<nav class="main-nav clearfix">
    <a class="blog-logo" href="../">
        <img src="../assets/images/logo.png" alt="Webpage Logo" />
    </a>
    <div class="nav-buttons">

        <!-- Botón hamburguesa, solo móvil -->
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>

        <!-- Menú -->
        <div class="menu">
            <a class="no-menu-button" href="../assets/pdf/CV_Marco.pdf" target="_blank">CV</a>
            <a class="no-menu-button" href="{{ '/contact/' | relative_url }}">Contact</a>
            <a class="no-menu-button" href="{{ '/talks/' | relative_url }}">Talks</a>
            <a class="no-menu-button" href="{{ '/research/' | relative_url }}">Research</a>
            <a class="no-menu-button" href="{{ '/about/' | relative_url }}">About</a>
        </div>
    </div>
</nav>

<script>
function toggleMenu() {
    document.querySelector('.menu').classList.toggle('open');
}

const menu = document.querySelector('.menu');
const menuToggle = document.querySelector('.menu-toggle');

document.addEventListener('click', (event) => {
    const clickDentroDelMenu = menu.contains(event.target);
    const clickEnElBoton = menuToggle.contains(event.target);

    if (!clickDentroDelMenu && !clickEnElBoton) {
        menu.classList.remove('open');
    }
});

</script>


    